# Package Files #
*.jar

# Compiled Files
*.class
bin/

# Ignore file download script
download_files.py

# Ignore automation scripts
automate.py

# ignore generated source files
base.jlex.java

#ignore generated output files
*.out
