# Package Files #
*.jar

# Compiled Files
bin/
*.class

# Ignore file download script
download_files.py

# Ignore automation scripts
automate.py

# ignore generated source files
base.jlex.java
parser.java
sym.java

#ignore generated output files
*.out

# DO NOT IGNORE DEPENDENCIES
!deps
!deps/*
!deps/java_cup
!deps/java_cup/*
!deps/java_cup/anttask
!deps/java_cup/anttask/*
!deps/java_cup/runtime
!deps/java_cup/runtime/*
!deps/JLex
!deps/JLex/*
